body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1400px;
	margin: 0px auto;


}
#menu_top{
	background: #141414;
	height: 60px
}
#banner{
	background: #ccc;
	height: 50px;
	width: 1400px;

}

#menu_top ul{

margin: 0px;
padding: 0px;
}
#menu_top li{
	list-style: none;
	float: left;
}
#menu_top ul li a{
	text-decoration: none;
	display: block;
	height: 60px;
	line-height: 60px;
	color: #FFF;
	padding: 0px 145px 0px 146px;
	border-right: 1px solid #ccc;
}

#banner li{
	list-style: none;
    
    margin: 0px;
	padding: 0px;

}
#banner li a{
	text-decoration: none;
	height: 50px;
	line-height: 50px;
    background: #blue;
}
#banner li a h2{
	list-style: none;
    
    margin: 0px;
	padding: 0px;
}
#main{
	margin: 0px auto;
	height: auto;
	width: 900px;

}
